//Font Variable
$base-font-size:14px;

//Heading Variables
$main-page-heading:25px;

//Font Family Variable
$base-font-family: 'Roboto', sans-serif;


//Color Variable
$base-color-primary:#51BAE7;
$base-color-secondary:#404040;
$base-color-tertiary:#f32c8a;

//Heading Variable
$base-font-color:#58636D;
$sub-heading:#58636D;

//Popup Variable
$popup-primary-btn:#51BAE7;
$popup-secondary-btn: #d88e5b;

//Color Varibles
$white:#fff;
$black:#000;

//Border Variable
$base-border-primary:#707070;
$dropdown-border: #9597a675;

//Button Variable
$primary-button:#d28956;
$secondary-button:#58b5ab;

//Card Variable
$card-header:#8664b8;
$card-body: #EEEEEE;

//Data Grid Variable
$datagrid-header:#F5F6FA;

//Popover Variable
$popover-header-bg: #58B5AB;

//Media Query Variables
$tablet-width: 1024px;
$large-desktop-width: 1920px;

// Placeholder Variables
$primary-placeholder:  #999999;

