.loginBox {
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%
}
button {
    width: 100%;
    margin: 5px 0;
}
.signInWithGoogle {
    padding-left: 0;
    padding-top:0;
    padding-bottom: 0;
    overflow: hidden;
    img {
        width: 33px;
        display: inline-block;
    }
    span {
        width: calc(100% - 40px);
        display: inline-block;
        vertical-align: middle;
    }
}
.orDiv {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}