.loginBox {
    max-width: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%
}
button {
    width: 100%;
    margin: 5px 0;
}
.signInWithGoogle {
    padding-left: 0;
    padding-top:0;
    padding-bottom: 0;
    overflow: hidden;
    img {
        width: 33px;
        display: inline-block;
    }
    span {
        width: calc(100% - 40px);
        display: inline-block;
        vertical-align: middle;
    }
}
.orDiv {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
}

//Login Wrapper
.login-body{    
    overflow: hidden;
    background: #064F74;
    background-image: url('../../../../../../assets/images/login-background.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 5% 10%;
    height: 100vh;
    display: flex;
    width: 100vw;
    .login-wrapper{
        margin: 0;
        overflow: hidden;
        background: white;
        padding: 3%;
        width:100%;
        .login-container{
            .form-control{
                border: none;
                border-bottom: solid 1px #707070;
                border-radius: 0;
                padding: 0;
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
    .login-aside-bar img{
        max-height: 570px;

    }
}
