<div class="checkboxOuter">
    <table>
        <tr>
          <td>
            <input (click)="sendData($event)" type="checkbox" value="2010" />
            <a >2010</a>
          </td>
          <td>
              <input (click)="sendData($event)"  type="checkbox" value="2011" />
            <a >2011</a>
          </td>
          <td>
              <input (click)="sendData($event)"  type="checkbox" value="2012" />
            <a >2012</a>
          </td>
          <td>
              <input (click)="sendData($event)"  type="checkbox" value="2013" />
            <a>2013</a>
          </td>
      
          <td>
              <input (click)="sendData($event)"  type="checkbox" value="2014" />
            <a>2014</a>
          </td>
          <td>
            <input (click)="sendData($event)"  type="checkbox" value="2015" />
            <a >2015</a>
          </td>
          <td>
              <input (click)="sendData($event)"  type="checkbox" value="2016" />
            <a >2016</a>
          </td>
          <td>
              <input (click)="sendData($event)"  type="checkbox" value="2017" />
            <a >2017</a>
          </td>
          <td>
              <input (click)="sendData($event)"  type="checkbox" value="2018" />
            <a>2018</a>
          </td>
        </tr>
        
      </table>
<!-- <button type="button" *ngIf="_authService.loggedInStatus()" click()="_authService.logoutUser()">Log out</button> -->

<button type="button" >log out</button>
</div>

      
      